<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840558964770-dbtb3lc9pp9189ng2cgcpqi0tcom6drp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840558964770-dbtb3lc9pp9189ng2cgcpqi0tcom6drp</string>
	<key>API_KEY</key>
	<string>AIzaSyA1wnMANvmhftP1AG_0-3S4pgmS2zy8L08</string>
	<key>GCM_SENDER_ID</key>
	<string>840558964770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.mashup.thing.u2u</string>
	<key>PROJECT_ID</key>
	<string>thing-2b426</string>
	<key>STORAGE_BUCKET</key>
	<string>thing-2b426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840558964770:ios:068fd1fc9c185ab367da7b</string>
	<key>DATABASE_URL</key>
	<string>https://thing-2b426.firebaseio.com</string>
</dict>
</plist>